.colored {
    --pink: #da00da;
    --pink-bright: #ff00ff;
    --pink-brightest: #ff0fff;
  
    --red-bright: #ff0000;
  
    --purple-dark: #6f00ff;
    --purple-dark-better: #5f00ff;
    --caef_purpl:  hsla(261, 100%, 50%, 0.966);
    --anotheroney: hsla(256, 100%, 50%, 0.61);
    /* iPhone disco minus eyes */
    --dead-eyes: #3300ff;
  
  
    --cyan-bright: #00ffff;
  
    --color-green: #00ff00;
    --color-green-darker: #00aa00;
  
    --yell-juicy: #ffffbb00;
    accent-color: #ffffbb00;
  
  --caef_cyan: hsl(192, 100%, 50%);
    
    --yellow-bright: #fff000;
    --yellow-bright-v2: #ffff00;
    --yellow-brightest: #ffff0f;

    --statusBar: #00ffaa;
    --statusBar: #00ffaaa8;
  }
  
  .blackandwhite {
    --white: #f2f2f2;
    --black: #020202;
  }
  
  gray {
    --gray: #aaaaaa;
    --gray-brighter: #adadad;
    --alost-white: #eeeeee;
  }
  
  polina {
    --purp: #6400ff;
  }
  
  space {
    --space-color: hsla(261, 56%, 21%, 0.336);
  }